.container{
    max-width: 60vw;
    margin: 0px auto;
}
.center{
    text-align: center;
}
.formStyle{
    display: flex;
    flex-direction: column;
}
.inputStyle{
    width: 100%;
    padding: 4px 8px;
    margin: 10px 0px;
}
.btn{
    background-color: rgb(63, 62, 62);
    color: white;
    padding: 3px 6px;
    cursor: pointer;
    border-radius: 8px;
}

@media screen and (max-width : 600px) {
    .container{
        max-width: 90vw;
        margin: 0px 10px;
    }
    .container h1{
        font-size: 26px;
    }
    .inputStyle{
        padding: 2px 5px;
        margin: 5px 0px;
    }
  }
